<h1 class="text-center mt-2">Datos Abiertos SECOP</h1>
<h3 class="text-center mb-4 text-secondary">
  Sistema Electrónico de Contratación Pública
</h3>

<p class="bg-info p-4 text-center">
  Apoyar el análisis de información para la toma de decisiones basado en los
  datos almacenados en los repositorios del SECOP
</p>

<div class="container">
  <div class="row">
    <section class="col-3">
      <app-menu></app-menu>
    </section>

    <section class="col-9 text-center">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
